   /*移动端*/
   /*媒体查询*/
   @media screen and (max-width:800px) {
       .A {
           /*铺满屏幕*/
           position: absolute;
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           /*样式*/
           width: 100%;
           height: 2100px;
           background-color: rgb(36, 41, 47);
       }

       .b {
           background-color: rgba(0, 0, 0, 0);
           width: 100%;
           height: 730px;
           /*b父级定位点dwb*/
           position: relative;
       }

       .zztp {
           width: 100%;
           height: 730px;
       }

       .yyapihz {
           /*dwb盒子决对定位yyapi*/
           width: 100%;
           height: 100px;

           position: absolute;
           top: 300px;
           left: 0px;
       }

       .yyapitxt {
           /*一言API文本*/
           text-align: center;
           font-weight: bolder;
           color: white;
           font-size: 16px;
           animation-name: yyapitxt;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;

       }

       @keyframes yyapitxt {
           0% {
               font-size: 14px;
               color: rgb(36, 41, 47);
           }

           100% {
               font-size: 16px;
               color: white;
           }
       }

       .wbhz {
           /*dwb绝对定位文本盒子xia*/
           width: 100%;
           height: 20px;
           font-size: 16px;
           position: absolute;
           top: 600px;
           left: 0px;
       }



       .xia {
           /*wbhz内文字*/
           position: relative;
           /*id name*/
           animation-name: example;
           animation-duration: 3.5s;
           animation-iteration-count: infinite;
           font-weight: 900;

       }

       /*上下动画*/
       @keyframes example {
           0% {
               color: rgb(36, 41, 47);
               left: 0px;
               top: 0px;
           }

           50% {
               color: white;
               left: 0px;
               top: 30px;
           }

           100% {
               color: rgb(36, 41, 47);
               left: 0px;
               top: 0px;
           }
       }

       .biaozhi {
           color: deeppink;
           font-size: 20px;
           font-weight: 900;
       }

       .biaozi {
           color: white;
           font-size: 20px;
           font-weight: 600;
       }

       .bz1 {
           position: absolute;
           top: 850px;
           left: 20px;
       }

       .bz2 {
           position: absolute;
           top: 1300px;
           left: 20px;
       }

       .bz3 {
           position: absolute;
           top: 1700px;
           left: 20px;
       }

       .gfsho {
           width: 350px;
           height: 300px;
           margin-top: 30px;
           margin-left: 10px;
       }

       .wdpd {
           color: mediumspringgreen;
       }

       .bz {
           color: paleturquoise;
           margin-right: 230px;
       }

       .pd {
           background-color: white;
           margin-left: 30px;
       }

       .xhx {
           /*去掉下划线*/
           text-decoration: none;
           color: black;
       }

       #gf {
           background-color: grey;
           border-radius: 100px 100px 100px 100px;
           height: 10px;
           width: 330px;

       }

       #gfc {
           height: 10px;
           background-color: white;
           border-radius: 100px 100px 100px 100px;
       }

       .gf1 {
           width: 15%;
           animation-name: g1;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;
       }

       @keyframes g1 {
           0% {
               width: 0%;
           }

           100% {
               width: 15%;
           }
       }

       .gf2 {
           width: 30%;
           animation-name: g2;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;
       }

       @keyframes g2 {
           0% {
               width: 0%;
           }

           100% {
               width: 30%;
           }
       }

       .gf3 {
           width: 4%;
           animation-name: g3;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;
       }

       @keyframes g3 {
           0% {
               width: 0%;
           }

           100% {
               width: 4%;
           }
       }

       .gf4 {
           width: 10%;
           animation-name: g4;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;
       }

       @keyframes g4 {
           0% {
               width: 0%;
           }

           100% {
               width: 10%;
           }
       }

       .gf5 {
           width: 80%;
           animation-name: g5;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;
       }

       @keyframes g5 {
           0% {
               width: 0%;
           }

           100% {
               width: 80%;
           }
       }

       .gf6 {
           width: 60%;
           animation-name: g6;
           animation-duration: 4s;
           animation-iteration-count: infinite;
           animation-iteration-count: 1;
       }

       @keyframes g6 {
           0% {
               width: 0%;
           }

           100% {
               width: 60%;
           }
       }

       #h {
           margin-top: 15px;
       }

       .h1 {
           color: rgba(0, 0, 0, 0);
           transition-duration: 0.7s;
       }

       .h2 {
           color: rgba(0, 0, 0, 0);
           transition-duration: 0.7s;
       }

       .h3 {
           color: rgba(0, 0, 0, 0);
           transition-duration: 0.7s;
       }

       .h4 {
           color: rgba(0, 0, 0, 0);
           transition-duration: 0.7s;
       }

       .h5 {
           color: rgba(0, 0, 0, 0);
           transition-duration: 0.7s;
       }

       .h6 {
           color: rgba(0, 0, 0, 0);
           transition-duration: 0.7s;
       }

       .dh1:hover .h1 {

           color: rgb(203,101,100);
       }

       .dh2:hover .h2 {

           color: rgb(219,119,91);
       }

       .dh3:hover .h3 {

           color: rgb(223,166,110);
       }

       .dh4:hover .h4 {

           color: rgb(161,181,104);
       }

       .dh5:hover .h5 {

           color: rgb(155,197,192);
       }

       .dh6:hover .h6 {

           color: rgb(116,121,185);
       }



       .bzhi {
           margin-bottom: 0px;
           color: white;
       }

       .bbll {
           color: white;
           font-weight: 900;
           font-size: 16px;
       }

       /*赏*/
       .shang {
           background-image: url(zsm.jpg);
           background-size: 250px;
           background-position: center;
           padding: 10px 17px;
           transition-duration: 0.5s;
           background-color: white;
           font-size: 200%;
           /*四角圆角*/
           border-radius: 100px 100px 100px 100px;
           text-align: center;
           /*绝对定位*/
           position: absolute;
           top: 1800px;
           left: 165px;
       }

       .shang:hover {
           padding: 100px 100px;
           border-radius: 20px 20px 20px 20px;
           top: 1750px;
           left: 80px;
           color: yellow;
       }

       /*时间*/
       .jssj {
           width: 393px;
           font-weight: 500;
           font-size: 55%;
           color: white;
           /*绝对定位*/
           position: absolute;
           top: 2060px;
           text-align: center;
       }

       .db {
           width: 393px;
           font-weight: 500;
           font-size: 45%;
           color: white;
           /*绝对定位*/
           position: absolute;
           top: 2080px;
           text-align: center;
       }
   }
